<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title><%= title%></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <style type="text/css">
    body{
      background-color: whitesmoke;
    }
    .break{
     display:block; word-wrap:break-word;
   }

   .container-text{
     margin:1px;
     text-align: justify;
   }

   .truncate {
    height:120px;
    line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;
  }

  .container-image{
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    width: 100px;
    padding: 5px;
  }

  .thumbnailPadding{
    padding: 10px;
  }
</style>
</head>
<body>
 <div class="container" style="background-color: white; padding: 0px;">

  <% include templates/navbar.ejs %>

  <div class="row">
    <% products.forEach(function(item){%>
      <div class="col-sm-6 col-md-4" style="height:300px">
        <div class="thumbnail thumbnailPadding">
          <div class="container-image"><img src=<%= item.imagePath%> class="img-responsive" width=100;/></div>
          <div class="caption container-text">
            <h3> <b><%= item.title %></b></h3>
            <p class="truncate"><%= item.description %></p>
            <br>
            <div class="clearfix">
              <div class="price pull-left">$<%= item.price %></div> 
              <a href="/add-to-cart/<%= item._id %>" class="btn btn-success pull-right" role="button">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
      <%});%>
    </div> 
</div>
</body>
</html>