<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style type="text/css">
        body{
            background-color: whitesmoke;
        }
        .break{
             display:block; word-wrap:break-word;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: white; padding: 0px;">
        <nav class="navbar nav navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Sample User Authentication</a>
           </div>

           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
             <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Welcome User: <%= user.local.email%></a></li>
               <li><a href="/logout">Logout user</a></li>
           </ul>
       </div>
   </div>
</nav>

<div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-md-4">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
            <p class="break">
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>

        </div>
    </div>
    <!-- LOCAL INFORMATION -->
    <div class="col-md-4">
    <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
            <p class="break">
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %><br>
            </p>
        </div>
    </div> 
    <!-- LOCAL INFORMATION -->
    <div class="col-md-4">
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
            <p class="break">
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>

        </div>
    </div>
</div>

</div>

</div>
</body>
</html>