<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>eShopLite-Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style type="text/css">
  
    html,body{
      background-color: whitesmoke;
      overflow-x: hidden; 
    }
    

    .break{
     display:block; word-wrap:break-word;
   }

   .container-text{
     margin:1px;
     text-align: justify;
   }

   .truncate {
    height:120px;
    line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;
  }

  .container-image{
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    width: 100px;
    padding: 5px;
  }

  .thumbnailPadding{
    padding: 10px;
  }

  .GameBG{
    background:url('public/images/bg.jpg');  
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }
  
</style>
</head>
<body class="GameBG">
 <div class="container" style="background-color: rgba(255,255,255,0.8); padding: 0px;">
   <%- include("../templates/navbar.ejs") %>
  <div class="row"> 
    <div style=" padding: 15px; margin-right: 10%; margin-left:10%;">
      <legend class="text-right">
      <div class="text-left"><h2>Checkout Now!</h2></div>
        Your Total Price: 
        <%if(totalPrice){%>
          $<%= totalPrice%>
          <%}%>        |         
          Total Quantity: 
          <%if(totalQty){%>
            <%= totalQty%>
            <%}%>        
          </legend>
            <%- include("./shop-templates/checkout-form.ejs") %>
        </div> 

      </div>
      <%- include("../templates/footer.ejs") %>
    </div>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="public/javascripts/checkout.js"></script>
  </body>
  </html>

