<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>eShopLite-Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style type="text/css">
  
    html,body{
      background-color: whitesmoke;
      overflow-x: hidden; 
    }
    
    .break{
     display:block; word-wrap:break-word;
   }

   .container-text{
     margin:1px;
     text-align: justify;
   }

   .truncate {
    height:120px;
    line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;
  }

  .container-image{
    float: left;
    margin-top: 25px;
    margin-right: 10px;
    width: 100px;
    padding: 5px;
  }

  .thumbnailPadding{
    padding: 10px;
  }

  .GameBG{
    background:url('public/images/bg.jpg');  
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }

</style>
</head>
<body class="GameBG">
 <div class="container" style="background-color: rgba(255,255,255,0.8); padding: 0px;">
  <%- include("../templates/navbar.ejs") %>
  <div class="row"> 
    <div style="padding: 15px;">
      <img src="/public/images/logo.jpg" class="img-thumbnail img-responsive" style="width: 100%;" />
      <div class="row">
       <div class="col-sm-12">
        <%if(successMsg){%>
        <div id="success" class="alert alert-success"><%= successMsg%></div>
        <%}%>
      </div>
    </div><br>
    <% products.forEach(function(item){%>
    <div class="col-sm-6 col-md-4" >
      <div class="thumbnail thumbnailPadding">
      <div class="text-center" style="background-color: rgb(56, 54, 54); padding: 10px;">
         <b style="color: whitesmoke;">
          <%= item.title %> | </b>
          <span class="label label-danger">
            $<%= parseFloat(item.price).toFixed(2) %>
          </span>
      </div>
        <div class="container-image"><img src=<%= item.imagePath%> class="img-responsive" width=100;/></div>
        <div class="caption container-text">
          <h4> <strong><%= item.category %></strong></h4>
          <p class="truncate"><%= item.description %></p>
          <hr>
          
          <div class="text-right">
            <a href="/add-to-cart/<%= item._id %>" role="button" 
            style="color: #ffffff; background-color: #d82d48; border-color: transparent; padding: 10px;">
            Add To Cart </a>
          </div>
        </div>
      </div>
    </div>
    <%});%>
  </div> 
</div>
<%- include("../templates/footer.ejs") %>
</div>

</body>
</html>