<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>eShopLite-Shopping Cart</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>

	<style type="text/css">
		body{
		  background-color: whitesmoke;
		}
		
		.break{
			display:block; word-wrap:break-word;
		}

		.container-text{
			margin:1px;
			text-align: justify;
		}

		.truncate {
			height:120px;
			line-height:20px; /* Height / no. of lines to display */
			overflow:hidden;
		}

		.container-image{
			float: left;
			margin-top: 25px;
			margin-right: 10px;
			width: 100px;
			padding: 5px;
		}

		.thumbnailPadding{
			padding: 10px;
		}
		.row{
			padding: 20px;
		}

		.GameBG{
		  background:url('public/images/bg.jpg');  
		  background-repeat: no-repeat; 
		  background-attachment: fixed;
		}

	</style>
</head>
<body class="GameBG">
	<div class="container" style="background-color: rgba(255,255,255,0.8); padding: 0px;">
		<%- include("../templates/navbar.ejs") %>
		<div class="row">
		<legend style="padding-left: 20px;"><h3>Your Shopping Cart</h3></legend>

		<%if(!products){%>
		<div>
			<div class="col-sm-6 col-md-6">
				<h3>No Items in your Cart</h3>
			</div>
		</div> 
		<%}%>

		<%if(products){%>
			<div class="col-sm-12 col-md-12">
				  <% products.forEach(function(itemData){%>
				<ul class="list-group">
					<li class="list-group-item">
					    <span class="label label-info"><%= itemData.qty %></span>
						- <span><strong><%= itemData.item.title %></strong></span> |
						<div class="btn-group pull-right">
							<button class="btn btn-primary btn-xs dropdown-toggle"  data-toggle="dropdown" type="button">					
								Action<span class="caret"></button>
								<ul class="dropdown-menu">
									<li><a href="/reduce/<%= itemData.item._id%>">Reduce By 1</a></li>
									<li><a href="/remove/<%= itemData.item._id%>">Remove All</a></li>
								</ul>
							</span>
						</div>
						<span class="label label-success">$<%= itemData.price %></span>
					</li>
				</ul>
				<%});%>
		</div>
			
		  <%}%>
	</div> 
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<% if(totalPrice){%>
			<strong>Total: $<%= totalPrice %></strong> | <strong>Quantity: <%= totalQty %></strong>
			<% } %>
		</div>
	</div> 
	<hr>

	<div class="row text-center">
		<div class="col-sm-12 col-md-12">
		<a href="/checkout">
			<button type="reset" style="color: #ffffff; background-color: #d82d48; border-color: transparent; padding: 10px;">
			      Checkout      
			</button>
		</a>	
			<button type="submit" style="color: #ffffff; background-color: #2c3e50; border-color: transparent; padding: 10px;">
			      Save To Profile      
			</button>
			
		</div>
	</div>
 	<hr>
 	<%- include("../templates/footer.ejs") %>
</div>
</body>
</html>